<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/api/v1/auth/login" method="post">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required  autocomplete="username"><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required autocomplete="current-password"><br><br>
        
        <input type="hidden" name="redirect_to" value="{{.redirect_to}}">
        <button type="submit">Sign In</button>
    </form>
    <br>
    <a href="/api/v1/auth/register">Нет аккаунта? Зарегистрироваться</a>
    <br><br>
    {{if .error}}
    <p style="color: red;">{{.error}}</p>
    {{end}}
</body>
</html>
